﻿@using Microsoft.AspNetCore.Components.Web
@using blazordesktoptest.Blazor
@using System.Windows

@inject CounterService CounterService

<h1>Counter</h1>

<p>The current count is: @CounterService.Counter</p>
<button @onclick="@CounterService.Increment">Count</button>
<button @onclick="@ShowDialog">Show Dialog</button>

@code {
    protected override void OnInitialized()
    {
        CounterService.CounterChanged += _ => StateHasChanged();
        base.OnInitialized();
    }

    void ShowDialog()
    {
        MessageBox.Show("Hello From Razor!");
    }
}